@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #E2DCD8;
}

/* headings */

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #344E55;
}

/* header and logo */

header {
    background-color: #344E55;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    letter-spacing: 4px;
    line-height: 75px;
    display: flex;
    margin-right: 2.5rem;
    gap: 2.5rem;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #ECC422;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#menu a:hover {
    border-bottom: 3px solid #894E37;
    font-size: 1.5rem;
}

.active {
    border-bottom: 3px solid #894E37;
}

#logo {
    width: 150px;
}

section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

/* Section Landing-Page */

/* #landing-page {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
} */

#landing-background {
    height: 600px;
    width: 100%;
    background: url('../images/landing-background.jpg') no-repeat center bottom;
    background-size: cover;
    opacity: 0.5;
}

#container-landing-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#landing-text {
    width: 50%;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: #344e55;
    position: absolute;
}

#landing-text h2, h3 {
    color: #ECC422;
}

#landing-text p {
    color: #E2DCD8;
    padding-top: 5px;
}

/* Section About */

#about-us {
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

#container-about-us {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: 2rem 0;
}

.icon-steps {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    
}